---

---

<div class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="enlace">
                <p class="title">Desarrollo en Electron</p>
                <a
                    href="https://drive.google.com/drive/folders/1nUN8M9CY_d25DthrYUH1Z1ox8RnDBz0a?usp=sharing"
                    target="_blank"
                    ><img
                        src="/redirect.svg"
                        alt="ir a evidencia"
                        title="Ir a evidencia"
                    /></a
                >
            </div>

            <p class="subtitle">Grupo Accesa.me | Abril 2024 - Mayo 2024</p>
            <ul class="styled-list">
                <li>
                    Creaci&oacute;n de un programa en Electron para un cajero
                    autom&aacute;tico en un estacionamiento.
                </li>
                <li>
                    Posibilidad de usar el programa tanto en Linux como en
                    Windows.
                </li>
                <li>
                    Conexi&oacute;n y gesti&oacute;n de un reciclador de
                    billetes y dispensador de monedas, haciendo uso de
                    librer&iacute;as compatibles con CCtalk y Node.js.
                </li>
                <li>
                    En este proyecto aprend&iacute; a comunicar diferentes
                    dispositivos haciendo uso de Electron y Node.js, todo en
                    base a investigaci&oacute;n. Adem&aacute;s, fue mi primera
                    aplicaci&oacute;n multiplataforma.
                </li>
            </ul>
        </div>

        <div class="carousel-item">
            <div class="enlace">
                <p class="title">
                    Desarrollo en Electron y Dise&ntilde;ador Front-end
                </p>
                <a
                    href="https://drive.google.com/file/d/1czINkleHfJTn2qLXGd_wqDZm8xG1Y9Ub/view?usp=sharing"
                    target="_blank"
                    ><img
                        src="/redirect.svg"
                        alt="ir a evidencia"
                        title="Ir a evidencia"
                    /></a
                >
            </div>
            <p class="subtitle">
                Grupo Accesa.me (Pr&aacute;ctica profesional) | Enero 2024 -
                Abril 2024
            </p>
            <ul class="styled-list">
                <li>
                    Dise&ntilde;o y programaci&oacute;n de interfaces para un
                    programa en Electron para un sistema de cobro y
                    administraci&oacute;n de estacionamiento.
                </li>
                <li>
                    Dise&ntilde;o y programaci&oacute;n de diferentes funciones
                    para el programa, como dar de alta usuarios, imprimir
                    tickets, realizar cortes de caja y generales, generar
                    reportes, conexi&oacute;n con MongoDB, entre otras.
                </li>
            </ul>
        </div>

        <div class="carousel-item">
            <div class="enlace">
                <p class="title">
                    Desarrollo en React y Dise&ntilde;ador Front-end
                </p>
                <a href="https://www.edecanespuebla.net/" target="_blank"
                    ><img
                        src="/redirect.svg"
                        alt="ir a evidencia"
                        title="Ir a evidencia"
                    /></a
                >
            </div>
            <p class="subtitle">Agencia Bela | Enero 2024</p>
            <ul class="styled-list">
                <li>
                    Dise&ntilde;o b&aacute;sico del front-end de la
                    p&aacute;gina (encabezado, contenido, tarjetas).
                </li>
                <li>
                    Conexi&oacute;n con el back-end para obtener la
                    informaci&oacute;n de los diferentes edecanes disponibles.
                </li>
                <li>
                    Dise&ntilde;o y funcionalidad de las tarjetas que muestran
                    informaci&oacute;n de cada edec&aacute;n, adem&aacute;s del
                    modal al hacer clic en ellas.
                </li>
            </ul>
        </div>

        <div class="carousel-item">
            <div class="enlace">
                <p class="title">Desarrollo en Electron</p>
                <a
                    href="https://drive.google.com/file/d/1wshPPc_stE8bghVTRHuSNn5CN-3EbhGA/view?usp=sharing"
                    target="_blank"
                    ><img
                        src="/redirect.svg"
                        alt="ir a evidencia"
                        title="Ir a evidencia"
                    /></a
                >
            </div>
            <p class="subtitle">
                Servicio Social | Agosto 2023 - Diciembre 2023
            </p>
            <ul class="styled-list">
                <li>
                    Planeaci&oacute;n y desarrollo de un programa para la
                    gesti&oacute;n y pr&eacute;stamo de equipos en un
                    laboratorio.
                </li>
                <li>
                    Uso de Myphpadmin, reconocimiento facial y lectura de
                    c&oacute;digos QR usando scripts en Python.
                </li>
                <li>Dise&ntilde;o de la interfaz con Bootstrap.</li>
                <li>
                    Mi primer proyecto en Electron, donde realic&eacute; una
                    investigaci&oacute;n desde cero y, con la ayuda de un equipo
                    de compa&ntilde;eros, desarrollamos todas las funciones,
                    integrando scripts en Python para el reconocimiento facial y
                    la lectura de c&oacute;digos QR.
                </li>
            </ul>
        </div>

        <div class="carousel-item">
            <div class="enlace">
                <p class="title">Desarrollo Web y Dise&ntilde;ador Front-end</p>
                <a
                    href="https://github.com/VictorJacobo/BeautyFull"
                    target="_blank"
                    ><img
                        src="/redirect.svg"
                        alt="ir a evidencia"
                        title="Ir a evidencia"
                    /></a
                >
            </div>
            <p class="subtitle">Proyecto personal | Mayo 2023 - Junio 2023</p>
            <ul class="styled-list">
                <li>
                    Dise&ntilde;o de la interfaz para una plataforma de venta de
                    peinados.
                </li>
                <li>
                    Desarrollo de scripts en JavaScript para la
                    implementaci&oacute;n de un calendario y sistema de citas.
                </li>
                <li>
                    Desarrollo de scripts en PHP para la conexi&oacute;n con una
                    base de datos.
                </li>
                <li>
                    Dise&ntilde;o de una base de datos sencilla en phpMyAdmin.
                </li>
                <li>Uso del framework Bootstrap.</li>
            </ul>
        </div>

        <div class="carousel-item">
            <div class="enlace">
                <p class="title">
                    Desarrollo en React y Dise&ntilde;ador Front-end
                </p>
                <a href="https://www.tiburoncitomoda.com/" target="_blank"
                    ><img
                        src="/redirect.svg"
                        alt="ir a evidencia"
                        title="Ir a evidencia"
                    /></a
                >
            </div>

            <p class="subtitle">
                Tiburoncito Jeans, empresa de ropa | Enero 2023 - Marzo 2023
            </p>
            <ul class="styled-list">
                <li>
                    Dise&ntilde;o de la plataforma web (Front-end) haciendo uso
                    de React.
                </li>
                <li>Desarrollo de la funcionalidad de la p&aacute;gina.</li>
                <li>
                    Integraci&oacute;n de un sistema de edici&oacute;n del
                    cat&aacute;logo de art&iacute;culos.
                </li>
                <li>
                    Mi primer proyecto formal, donde mi tarea principal fue dar
                    funcionalidad a la p&aacute;gina haciendo uso de React.
                </li>
            </ul>
        </div>

        <div class="carousel-item">
            <div class="enlace">
                <p class="title">Desarrollo Web y Dise&ntilde;ador Front-end</p>
                <a
                    href="https://victorjacobo.github.io/pokedex/"
                    target="_blank"
                    ><img
                        src="/redirect.svg"
                        alt="ir a evidencia"
                        title="Ir a evidencia"
                    /></a
                >
            </div>

            <p class="subtitle">Pokedex (Proyecto personal) | Marzo 2022</p>
            <ul class="styled-list">
                <li>
                    Dise&ntilde;o de una Pokedex con informaci&oacute;n de 150
                    pokemones.
                </li>
                <li>Uso de Bootstrap.</li>
                <li>
                    Mi primera p&aacute;gina web, uno de mis primeros
                    acercamientos a HTML, JavaScript y CSS.
                </li>
            </ul>
        </div>
    </div>
    <button class="carousel-control prev" id="p">&#10094;</button>
    <button class="carousel-control next" id="n">&#10095;</button>

    <style>
        .carousel {
            position: relative;
            width: 100%;
            margin: auto;
            overflow: hidden;
            display: flex;
            padding-top: 50px;
        }

        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease-in-out;
            width: 100%;
        }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
            padding: 0 8%;
            border-radius: 10px;
        }

        .carousel-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.7); /* Fondo m&aacute;s oscuro */
            color: white;
            border: none;
            cursor: pointer;
            font-size: 24px; /* Aumentar el tama&ntilde;o */
            border-radius: 5px;
            padding: 15px; /* M&aacute;s espacio alrededor del icono */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
            transition:
                background-color 0.3s ease,
                transform 0.3s ease;
        }

        .carousel-control.prev {
            left: 20px; /* Mover hacia la izquierda */
        }

        .carousel-control.next {
            right: 20px; /* Mover hacia la derecha */
        }

        .carousel-control:hover {
            background-color: rgba(
                255,
                255,
                255,
                0.8
            ); /* Cambio de color en hover */
            color: black;
            transform: translateY(-50%) scale(1.1); /* Efecto de escala al pasar el mouse */
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

        .enlace {
            display: flex;
            width: 100%;
            align-items: center;
        }

        .enlace img {
            margin-left: 15px;
            width: 20px;
            padding: 5px;
            transition: filter 0.3s ease;
            border-radius: 3px;
        }

        .enlace img:hover {
            background-color: rgb(255, 255, 255);
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg)
                brightness(102%) contrast(102%);
        }

        .styled-list {
            list-style: none;
            padding: 0;
            margin-top: 20px;
        }

        .styled-list li {
            background-color: #f9f9f9;
            border-radius: 10px;
            margin-bottom: 15px;
            padding: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease;
        }

        .styled-list li:hover {
            transform: translateY(-5px);
        }

        .styled-list li:nth-child(odd) {
            background-color: #e6f7ff;
        }

        .styled-list li:nth-child(even) {
            background-color: #ffffff;
        }

        @media screen and (max-width: 1000px) {
            .carousel-item {
                padding: 0 3%;
            }
        }
    </style>

    <script>
        let currentSlide = 0;

        function showSlide(index: number) {
            const slides = document.querySelectorAll(".carousel-item");
            const totalSlides = slides.length;

            if (index >= totalSlides) {
                currentSlide = 0;
            } else if (index < 0) {
                currentSlide = totalSlides - 1;
            } else {
                currentSlide = index;
            }

            const offset = -currentSlide * 100;
            document.querySelector(".carousel-inner").style.transform =
                `translateX(${offset}%)`;
        }

        function nextSlide() {
            showSlide(currentSlide + 1);
        }

        function prevSlide() {
            showSlide(currentSlide - 1);
        }

        document
            .getElementById("n")
            .addEventListener("click", () => nextSlide());
        document
            .getElementById("p")
            .addEventListener("click", () => prevSlide());
        // Muestra el primer slide
        showSlide(currentSlide);
    </script>
</div>
